.headerdiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Noto Serif JP', serif;
}

.navbar {
  display: flex;
  padding: 0 10px 0 0;
  background-color: rgb(0, 121, 211);
}

.navlink {
  padding: 0 10px 0 10px;
  height: 10vh;
  line-height: 10vh;
  font-size: 1.5vw;
  cursor: pointer;
  background-color: rgb(0, 121, 211);
  color: white;
}

.navlink:hover {
  background-color: white;
  color: black;
}

.header h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  margin: 10px 0 0 0;
}