.outer-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer-create h3 {
  font-family: 'Noto Serif JP', serif;
}


.inner-create {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.createform {
  display: flex;
  background-color: white;
  padding: 50px;
}

.inner-labels {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Serif JP', serif;

}

.inner-form form {
  display: flex;
  flex-direction: column;
}

#createbtn {
  font-family: 'Noto Serif JP', serif;
}

#createtitle, #genre {
  margin: 0 0 5px 10px;
  width: 20em;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.3em;
}

#createtext {
  margin: 0 0 5px 10px;
  font-family: 'Noto Serif JP', serif;
  width: 30em;
  min-height: 15em;
  font-size: 1.2em;
}







