.storyContainer {
  background-color: white;
  margin: 0 5px 10px 5px;
  width: 50vw;
  min-width: 400px;
  padding: 75px;
  cursor: pointer;
}

.containertop {
  height: 3vh;
  border-bottom: 1px solid rgb(219,224,229);
  font-family: 'Noto Serif JP', serif;
}

.containertop p {
  font-size: .7em;
}

.containerbot {
  font-family: 'Noto Serif JP', serif;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  padding: 0;
}

.title-box {
  font-variant: small-caps;
  text-decoration: underline;
}

.prompt-box {
  text-align: justify;
  white-space: pre-wrap;
}