.contentContainer {
  background-color: white;
  margin: 10px 5px 10px 5px;
  width: 60vw;
  min-width: 615px;
  padding: 75px;
}

.contentcontainertop {
  height: 3vh;
  border-bottom: 1px solid rgb(219,224,229);
  font-family: 'Noto Serif JP', serif;
}

.contentcontainertop p {
  font-size: .7em;
}

.contentcontainerbot {
  font-family: 'Noto Serif JP', serif;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  padding: 0;
}

.content-title-box {
  font-variant: small-caps;
}

.content-text-box {
  text-align: justify;
}